/* .diog {
    max-width: 1000px;
  
}
@media (max-width: 1000px) {
    .diog {
        width: 95vw
    }
} */

/* .piechart {
    position:relative;
} */


/* .piechart-container {
    width: 1500px;
    height: 500px;
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    
} */